<!DOCTYPE html>
<html>
  <head>
    <title>Phantom</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One|Bangers&display=swap" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'header' %>
    <%= yield %>
  </body>
</html>
